{% extends "base.twig" %}

{% block title %}Profile{% endblock %}

{% block content %}

    <h3>Upload a Photo to this album</h3>

    <form action="{{ formAction }}" method="POST">
        <input type="text" name="url" placeholder="Enter image URL">
        <input type="submit" value="Upload" class="btn btn-primary">
    </form>

    <div class="grid">
        {% for photo in photos %}
            <div class="card" style="max-width: 18rem;">
                <img class="card-img-top" src="{{ photo['imagePath'] }}" alt="Italian Trulli">
                <div class="card-body">
                    <h5 class="card-title">Image ID: {{ photo['id'] }}</h5>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}
