{% extends "base.twig" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
    <h1>Reset Password</h1>
    <form>
        <label for="oldPassword">Old Password:
            <input type="text" name="oldPassword">
        </label>
        {% if formErrors['wrongOldPassword'] %}
            <p data-cy="changePass__wrongOldPassword">{{ formErrors['wrongOldPassword'] }}</p>
        {% endif %}
        <label for="newPassword">New Password:
            <input type="text" name="newPassword">
        </label>
        <label for="confirmPassword">Confirm Password:
            <input type="text" name="confirmPassword">
        </label>
        {% if formErrors['passDoNotMatch'] %}
            <p data-cy="changePass__passDoNotMatch">{{ formErrors['passDoNotMatch'] }}</p>
        {% endif %}
        <input type="button" value="Reset Password">
    </form>
{% endblock %}