{% extends "base.twig" %}

{% block title %}Explore{% endblock %}

{% block content %}
    <div class="grid">
        {% for image in images %}
            <div class="card" style="max-width: 18rem;">
                <img class="card-img-top" src="{{ image['imagePath'] }}" alt="user image uploaded">
                <div class="card-body">
                    <p class="card-title">{{ image['userName'] }}</p>
                </div>
            </div>
        {% else %}
            <p>Upload some images!</p>
        {% endfor %}
    </div>

{% endblock %}
