{% extends "base.twig" %}

{% block title %}Explore{% endblock %}

{% block content %}
    {% for image in images %}
        <img src="{{ image[1][0] }}">
        <p>{{ image[2][0] }}</p>
    {% else %}
        <p>Upload some images!</p>
    {% endfor %}

{% endblock %}
