{% extends "base.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    <link href="/css/home.css" rel="stylesheet">


    <h1>Welcome to PixSalle!</h1>
    <h4>PixSalle is a page where La Salle University students can upload their pictures and explore photos posted by
        other photographers and picture editors</h4>
    <div id="landingImg">
        <img src="/assets/img/landingPage.jpg" alt="Photographer Image">
    </div>
    <h4>In this website you will find the following functionalities:</h4>
    <div id="landingText">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Sign in</strong> to our page and enjoy all the content</li>
            <li class="list-group-item"><strong>Sign up</strong> and create your profile to our web</li>
            <li class="list-group-item"><strong>Wallet</strong> where you can check your ampunt of money and add more
            </li>
            <li class="list-group-item"><strong>Profile</strong> where you can customize your profile, add a photo, a
                username...
            </li>
            <li class="list-group-item"><strong>Membership</strong> where you can see your membership plan</li>
            <li class="list-group-item"><strong>Explore</strong> where you can see all the pictures in the system</li>
            <li class="list-group-item"><strong>Portfolio</strong> where you can save and check all your albums</li>
            <li class="list-group-item"><strong>Blog</strong> where all the users can see a list of all the blog entries
                by all users that have been added to the blog
            </li>
            <li class="list-group-item"></li>
        </ul>
    </div>


{% endblock %}