{% extends "base.twig" %}

{% block title %}Membership | PixSalle{% endblock %}

{% block content %}
    <h1>Membership</h1>
    The value is {{ actualMembership }}

    {% if actualMembership %}
        <p>You are an Active member</p>
    {% else %}
        <p>You are a Cool member</p>
    {% endif %}

    <form data-cy="sign-in" action="{{ formAction }}" method="POST">
        <input name="activate" type="submit" value="Activate">
        <input name="deactivate" type="submit" value="Deactivate">
    </form>
    {% if formErrors['email'] %}
        <p data-cy="sign-in__wrongEmail">{{ formErrors['email'] }}</p>
    {% endif %}
    {% if formErrors['password'] %}
        <p data-cy="sign-in__wrongPassword">{{ formErrors['password'] }}</p>
    {% endif %}
{% endblock %}