{% extends "base.twig" %}

{% block title %}Wallet | PixSalle{% endblock %}

{% block content %}
    <link href="/css/wallet.css" rel="stylesheet">

    <h1>This is your current ammount: {{ wallet }}</h1>



<form id="main-form" action="{{ wallet_add }}" method="post">
    <div id="wallet-container" class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Amount</span>
        <input type="number" placeholder="Enter amount of money you want to add" name="amount" id="amount"
               class="form-control"/>

        <input type="submit" value="Add" class="btn btn-primary"/>
    </div>


    <p style="color: red;">{{ errorAmmount }}</p>

{% endblock %}