{% extends "base.twig" %}

{% block title %}Wallet | PixSalle{% endblock %}

{% block content %}
    <h1>This is your current ammount: {{ wallet }}</h1>



<form action="{{ wallet_add }}" method="post">
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Amount</span>
        <input type="number" placeholder="Enter amount of money you want to add" name="amount" id="amount"
               class="form-control"/>
    </div>

    <input type="submit" value="Add" class="btn btn-primary"/>

    <p>{{ errorAmmount }}</p>

{% endblock %}